<link rel="stylesheet" href="./style.css">
<h2>Link Inválido</h2>
<h10>404</h10>

<style>
    h2 {
        position: relative;
        font-size: 50px;
        top: 40vh;
        color: #FFFFFF;

    }

    h10 {
        position: relative;
        font-size: 30px;
        top: 42vh;
        color: #FFFFFF;

    }
</style>
