<link rel="stylesheet" href="./style.css">
<a id="continue" href="<%=redirect%>">Clique Aqui Para Continuar</a>

<script>
    setTimeout(() => document.getElementById("continue").classList.add('enabled'), 0);
</script>
